*{
padding: 0px;
margin: 0px;
}
.container{
    margin-top:10px;
    font-style: normal;
    font-size: larger;
    font-weight: bolder;
    background-color:rgb(12, 1, 1);
    color:rgb(175, 247, 7);
    margin:30px;
    padding: 30px;
    line-height: 35px
}
body{
    background-color: white;
    font-size: larger;
    font-weight: bolder;
    margin: 30px;
}
.container1{
    margin-top:10px;
    font-style: normal;
    font-size: larger;
    font-weight: bolder;
    background-color:rgb(10, 0, 0);
    color: rgb(250, 6, 6);
    margin:30px;
    padding: 30px;
    line-height: 35px;
}
.main_container{
    display:flex;
    margin: top 15px;
    gap: 10px
}
.subcontainer2{
    margin-top:10px;
    font-style: normal;
    font-size: larger;
    font-weight: bolder;
    background-color:rgb(8, 0, 0);
    color:rgb(255, 5, 5);
    margin:30px;
    padding: 30px;
    line-height: 35px;
}

.subcontainer3{
    margin-top:10px;
    font-style: normal;
    font-size: larger;
    font-weight: bolder;
    background-color:rgb(10, 0, 0);
    color:rgb(243, 16, 16);
    margin:30px;
    padding: 30px;
    line-height: 35px;
}








